%div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom{'data-behavior': 'vue'}
  %h1.h2= page_title.html_safe
  %div.btn-toolbar.mb-2.mb-md-0
    %div.btn-group.mr-2
      - if controller_name == 'sections' && action_name == 'show' && can?(:edit, @section)
        %btn-request-ip{':section_id': params[:id]}
      = page_action.html_safe
