%div.toast.position-absolute.m-3.right-0.d-flex.align-items-center.text-white.border-0{class: color, style: 'z-index: 1010', role: "alert", 'aria-live': "assertive", 'aria-atomic': "true"}
  %div.toast-body
    %b= title
    %p= message
  %button.btn-close.btn-close-white.ml-auto.mr-2{'data-dismiss': "toast", 'aria-label': "Close"}
