- page_title _('Backup list')
- page_action({icon: icon('inbox'), path: admin_backups_path, method: 'post'})

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= _('Name')
      %th
  %tbody
    - @backups.each do |backup|
      %tr
        %td= backup
        %td
