<% if resource.errors.any? %>
  <div class="bg-red-500 text-white p-3 rounded shadow">
    <h5>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
      %>
    </h5>

    <% resource.errors.full_messages.each do |message| %>
      <p>- <%= message %></p>
    <% end %>
  </div>
<% end %>
