<% if resource.errors.any? %>
  <div class="callout callout-danger">
    <h5>
      <i class="fas fa-exclamation"></i>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
      %>
    </h5>

    <% resource.errors.full_messages.each do |message| %>
      <p class="mb-0">- <%= message %></p>
    <% end %>
  </div>
<% end %>
