<div class="social-auth-links text-center mb-3">
  <p class="mb-2">- OR -</p>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "<i class=\"far fa-address-book mr-2\"></i> Sign in with #{OmniAuth::Utils.camelize(provider)}".html_safe, omniauth_authorize_path(resource_name, provider), class: 'btn btn-block btn-info' %>
    <% end %>
  <% end %>
</div>


