= form_with(url: '', method: :get, local: true) do |form|
  %div.row
    %div.form-group.col-10
      = form.text_field :mac, class: 'form-control', placeholder: 'FF:FF:FF:FF:FF:FF', value: params[:mac]

    %div.d-grid.col-2
      = form.button _('Lookup'), class: 'btn btn-primary'
