- page_title _('MAC Vendor Lookup')

= render 'utils/formvendor'

- unless @mac_vendors.nil? || @mac_vendors.empty?
  - @mac_vendors.each do |mac_vendor|
    %div.row.pt-3
      %div.col-6
        %div.input-group
          %span.input-group-text{class: dark_mode_class}= _('Mac Address Prefix')
          %input.form-control{class: dark_mode_class, disabled: true, type: 'text', value: mac_vendor.mac}
      %div.col-6
        %div.input-group
          %span.input-group-text{class: dark_mode_class}= _('Vendor')
          %input.form-control{class: dark_mode_class, disabled: true, type: 'text', value: mac_vendor.vendor}
- else
  %div.row.pt-3
    %div.alert.alert-warning
      = _('No matching vendor')
