= form_with(model: usage, local: true) do |form|
  - if usage.errors.any?
    div#error_explanation
      h2 #{pluralize(usage.errors.count, "error")} prohibited this usage from being saved:

      ul
        - usage.errors.full_messages.each do |message|
          li = message

  div.field
    = form.label :section_id
    = form.text_field :section_id

  div.field
    = form.label :fqdn
    = form.text_field :fqdn

  div.field
    = form.label :ip_used
    = form.text_field :ip_used

  div.field
    = form.label :description
    = form.text_field :description

  div.actions
    = form.submit
