- if page.current?
  = content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50'
- else
  = link_to page, url, remote: remote, rel: page.rel, class: 'relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50'
