%section.content
  %div.error-page
    %h2.headline.text-warning= _('Youhou !')

    %div.error-content
      %h3
        %i.fas.fa-code.text-warning
        = _('Setup finished')

      %p= _('To enable your instance, please reboot it !')
