$gradians: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

$gray: (
  50: #FAFAFA,
  100: #F4F4F5,
  200: #E4E4E7,
  300: #D4D4D8,
  400: #A1A1AA,
  500: #71717A,
  600: #52525B,
  700: #3F3F46,
  800: #27272A,
  900: #18181B
);

$red: (
  50: #FEF2F2,
  100: #FEE2E2,
  200: #FECACA,
  300: #FCA5A5,
  400: #F87171,
  500: #EF4444,
  600: #DC2626,
  700: #B91C1C,
  800: #991B1B,
  900: #7F1D1D
);

$orange: (
  50: #FFF7ED,
  100: #FFEDD5,
  200: #FED7AA,
  300: #FDBA74,
  400: #FB923C,
  500: #F97316,
  600: #EA580C,
  700: #C2410C,
  800: #9A3412,
  900: #7C2D12
);

$green: (
  50: #F0FDF4,
  100: #DCFCE7,
  200: #BBF7D0,
  300: #86EFAC,
  400: #4ADE80,
  500: #22C55E,
  600: #16A34A,
  700: #15803D,
  800: #166534,
  900: #14532D
);

$blue: (
  50: #EFF6FF,
  100: #DBEAFE,
  200: #BFDBFE,
  300: #93C5FD,
  400: #60A5FA,
  500: #3B82F6,
  600: #2563EB,
  700: #1D4ED8,
  800: #1E40AF,
  900: #1E3A8A
);

$purple: (
  50: #FAF5FF,
  100: #F3E8FF,
  200: #E9D5FF,
  300: #D8B4FE,
  400: #C084FC,
  500: #A855F7,
  600: #9333EA,
  700: #7E22CE,
  800: #6B21A8,
  900: #581C87
);


@each $gradian in $gradians {
  .text-gray-#{$gradian} { color: map-get($gray, $gradian); }
  .bg-gray-#{$gradian} { color: map-get($gray, $gradian); }

  .text-red-#{$gradian} { color: map-get($red, $gradian); }
  .bg-red-#{$gradian} { color: map-get($red, $gradian); }

  .text-orange-#{$gradian} { color: map-get($orange, $gradian); }
  .bg-orange-#{$gradian} { color: map-get($orange, $gradian); }

  .text-green-#{$gradian} { color: map-get($green, $gradian); }
  .bg-green-#{$gradian} { color: map-get($green, $gradian); }

  .text-blue-#{$gradian} { color: map-get($blue, $gradian); }
  .bg-blue-#{$gradian} { color: map-get($blue, $gradian); }

  .text-purple-#{$gradian} { color: map-get($purple, $gradian); }
  .bg-purple-#{$gradian} { color: map-get($purple, $gradian); }
}
