/* DATATABLE */
div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_paginate .page-link,
div.dataTables_wrapper div.dataTables_filter input {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(52, 58, 64) !important;
  border-color: rgb(50, 50, 50) !important;
}

div.dataTables_wrapper div.dataTables_paginate .disabled>.page-link {
  background-color: rgb(50, 50, 50) !important;
}

div.dataTables_wrapper div.dataTables_paginate .active>.page-link {
  background-color: rgb(80, 80, 80) !important;
}

div.dataTables_wrapper div.dataTables_length select {
  background: #ffffff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
}

/* UI */
nav.main-header,
footer.main-footer,
.form-control.bg-dark,
div.dataTables_wrapper div.dataTables_filter input,
.custom-file .custom-file-label,
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,
.info-box.bg-dark {
  background-color: rgb(45, 51, 56) !important;
}

.custom-file .custom-file-label::after {
  background-color: rgb(60, 60, 60) !important;
  color: rgb(255, 255, 255);
}

.custom-file .custom-file-label {
  color: rgb(255, 255, 255);
}

nav.main-header,
table, th, td,
.form-control,
.input-group-text,
.custom-file .custom-file-label, .nav-tabs,
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,
footer.main-footer {
  border-color: rgb(50, 50, 50) !important;
}
