body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.column {
  max-width: 450px;
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
   display: block;
}
