- page_title "Cabinet #{@cabinet.name.upcase}"

- page_action({ icon: fa_icon_with_text('fas fa-edit', _('Edit')), path: edit_cabinet_path(@cabinet) }) if can? :edit, @section

%div.row
  %div.col-6
    %p
      %b Location:
      = @cabinet.location
  %div.col-6
    %table.table.table-sm.table-borderless.text-center
      %thead
        %tr
          %th
          %th.bg-dark{ scope: 'col' }= @cabinet.name
      %tbody
        - @cabinet.unit_height.downto(1) do |unit|
          %tr
            %td.text-right= unit
            %td.table-secondary.border
