%footer{ class: 'body-font' }
  %div{ class: 'max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 flex flex-wrap flex-col sm:flex-row' }
    %p{ class: 'text-gray-500 dark:text-gray-200 text-sm text-center sm:text-left' }
      © #{Date.current.year} NetAM — #{NetAM::VERSION}

    %span{ class: 'sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 dark:text-gray-400 text-sm' }
      NetAM is distributed under BSD 3-Clause
