<footer class="main-footer <%= 'bg-dark text-white' if dark_mode? %>">
  <div class="float-right d-none d-sm-inline">
    v<%= Netam::VERSION %>
  </div>
  <strong>Copyright &copy; 2020</strong> All rights reserved
</footer>
